<body>
  <div id="homepage" class="container">
    <div id="myNavbar" class="container">
<ul>
 <li><a href="../contact/contact.component.html" target="_blank" id="nvb">Contact</a></li> 
 <li><a href="../certificationas/certificationas.component.html" target="_blank" id="nvb">Certifications</a></li>
   <li><a href="../services/services.component.html" target="_blank" id="nvb">services</a></li>
   <li><a href="home" id="nvb">Home</a></li>
  </ul>
   <!--<ul>
    <li><a href="#">
   <li id="nb" ><a href="home">Home</a></li>
   <li><a href="Services">Services</a></li>
   <li><a href="Certifications">Certifications</a></li>
   <li><a href="contacts">Contact</a></li>
   </a></li>
</ul>--> <br><br><br><br><br>

<h1 id="h1">Welcomes you to Plant Zone... </h1><br><br>
<button id="btn" type="button" onclick="alert('Hello..Please Contact us through our official mail id--abc@gmail.com.. Thank You.')">Contact</button>
<br><br><br><br><br><br>
<div>
  <h2 id="h2">Superior Quality </h2>
  <p id="p1">Proactively envisioned multimedia based expertise and cross-media growth strategies. Seamlessly visualize quality
    intellectual capital without superior collaboration and idea-sharing. Holistically pontificate installed base portals after
    maintainable products without collateral.Proactively envisioned multimedia based expertise and cross-media growth strategies. Seamlessly visualize quality
    intellectual capital without superior collaboration and idea-sharing. </p><br><br>

    <table id="tab">
      <tr id="tr">
        <th>Innovate</th>
        <th id="th">Integrate</th>
        <th>Ideate</th>
      </tr><br><br>
      
      <tr id="tr2">
        <td>This has been a fascinating experience to check out. We innovate stuff that are out of this world.We Innovate like no one else.This has been a fascinating experience to check out. We innovate stuff that are out of this world.We Innovate like no one else</td>
        <td id="th">This has been a fascinating experience to check out. We innovate stuff that are out of this world.We Innovate like no one else.This has been a fascinating experience to check out. We innovate stuff that are out of this world.We Innovate like no one else</td>
        <td>This has been a fascinating experience to check out. We innovate stuff that are out of this world.We Innovate like no one else.This has been a fascinating experience to check out. We innovate stuff that are out of this world.We Innovate like no one else</td>
      </tr>
    </table>

    <div>
      <table id="tab2">
        <tr id="tr3">
          <th id="visit">Book an appointment to visit our chemical plants</th>
          </tr><br>
          <tr id="tr4">
            <td><ul id="chemicals">
        <li>Learn more about how we operate and work with chemicals.</li>
        <li>Learn more about how we operate and work with chemicals.</li>
      <li>Learn more about how we operate and work with chemicals.</li>
    </ul></td>
    <td><form action="/action_page.php" id="f1" target="_top" method="post">
              <label for="fname" id="lbl">First name</label><br>
              <input type="text" id="fname" name="fname" placeholder="Enter Your First Name" size="25"><br><br>
              <label for="lname" id="lbl">Last name</label><br>
              <input type="text" id="lname" name="lname" placeholder="Enter Your Last Name" size="25"><br><br>
              <label for="number" id="lbl">Phone number</label><br>
              <input type="text" id="number" name="num" placeholder="Enter Your Number" size="25"><br><br>
              <label for="Representing" id="lbl2">Representing </label><br>
              <select name="org" id="org">
                      <option value="School">School</option>
                      <option value="Secondary">Secondary</option>
                      <option value="Bachelors">Bachelors</option>
                      <option value="Masters">Masters</option>
      </select>
      <input type="date" id="date" name="date"><br><br>
      <input type="submit" value="Submit Request" id="form-submit" target="action_page" method="post">
    </form>
    </td></tr><br><br><br>
  
  </table>
    
  </div>
</div>
</div>
</div>
</body>